{% extends 'admin_dashboard.html' %}
{% block content %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">标签管理</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="{{url_for('blue.admin_tag')}}">标签管理</a></li>
              <li class="breadcrumb-item active">添加标签</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <div class="row">
          <div class="col-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">添加标签</h3>
              </div>
              <!-- /.card-header -->


              <!-- form start -->
              <form role="form" method="post" action="{{url_for('blue.admin_tag_add')}}">
                <input type='hidden' name='csrfmiddlewaretoken' value='dekGCrBEKE1Vp9gF1EhMtbQ05UaX9FxehVuIfI22YJEZkacteTJlKqf6c4Pv87Wo' />
                <div class="card-body">
                  <div class="form-group">
                    <label for="name">名称</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="标签名称" value="">
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">提交</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
          </div>
        </div>

      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}