{% extends 'base_login.html'%}
{% block content %}
    <div class="card-body login-card-body">
      {%  if form.errors %}
        <p class="login-box-msg">
       {{ form.errors}}
      </p>
      {% endif %}



      <form action="{{ url_for('blue.register') }}" method="post">
          {{ form.csrf_token }}
        <div class="input-group mb-3">
          <input type="text" name="nickname" class="form-control" placeholder="昵称" value="{{form.nickname.data}}">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="email" name="email" class="form-control" placeholder="邮箱" value="{{ form.email.data }}">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" name="password" class="form-control" placeholder="密码">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" name="password_confirm" class="form-control" placeholder="确认密码">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block btn-flat">注册</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      <a href="{{ url_for('blue.login') }}" class="text-center">登录</a>
    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
<!-- /.login-box -->
{% endblock %}
